@media print {

    /*Jacobo R*/
    body * {
        visibility: hidden;
    }
 
    #print-area,
    #print-area * {
        visibility: visible;
    }
 
    #print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
 
    /* Oculta botones innecesarios en la impresión */
    #confirmBtn,
    #spinWheelBtn {
        display: none;
    }
}
 
.budget-container {
    background-color: #111;
    color: #9ED3FF;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}
 
.count-up-text {
    font-size: 1.5rem;
    font-weight: bold;
}
 